@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-primaria: #ffff;
  --cor-secundaria: #eaf2fd;
  --cor-fundo: #ededed;
  --cor-texto: #464646;
  --cor-icons: #2a7ae4;

  --fonte-primaria: "Raleway", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: var(--fonte-primaria);
  size: 100vh;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin: 32 auto;
  justify-content: center;
  gap: 80px;
}

.cabecalho__icones__nome {
  display: flex;
  padding: 2% 0% 0% 0%;
  margin: 0 100px;
  align-items: center;
}

.cabecalho__icones__nome img,
.cabecalho__icones__nome p {
  display: inline-block;
  vertical-align: middle; /* Alinha verticalmente */
}

.cabecalho__icones__item {
  display: flex;
  gap: 60px;
  padding: 2% 0% 0% 0%;
  top: 0;
  right: 0;
  align-items: center;
}

ul li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  color: #464646;
}

.topo {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--cor-fundo);
  padding: 32px;
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto; /* centralizando horizontalmente */
  justify-content: center; /* centralizando o conteúdo horizontalmente */
}

.topo__apresentacao {
  margin-top: 20px;
  padding-top: 50px;
  padding-left: 50px;
  width: 80%;
  background-color: var(--cor-primaria);
}

.topo__frase {
  font-size: 400%;
  font-weight: bold;
}

.topo__texto {
  margin-top: 30px;
  font-size: 150%;
}

.foto {
  margin-top: 20px;
  background-color: var(--cor-primaria);
}

.topo__foto {
  padding: 20px 40px;
  border-radius: 150px;
  width: 340px;
  height: 340px;
  color: var(--cor-primaria);
}

.redes__sociais {
  flex-wrap: nowrap;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.redes__sociais li {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
}

ul li {
  margin: 40px 0;
  margin-right: 150px;
}

#sobremim {
  background-color: var(--cor-secundaria);
  padding: 64px 500px 64px 130px;
  margin: 32px 0;
  align-items: center;
  font-size: 28px;
}

.sobremim__paragrafo {
  margin: 20px 0;
  font-size: 18px;
}

.dados {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0px 0px 100px 0; /* Adicionei um padding para espaçamento interno */
}

.skills,
.hobbies {
  width: 50%;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__titulo {
  padding: 5% 0 10% 0;
  text-align: center;
  font-size: 30px;
  text-align: center;
}

.lista__skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 5% 0;
  justify-content: center;
  gap: 50px;
}

#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hobbies__titulo {
  padding: 5% 0 10% 0;
  font-size: 30px;
  text-align: center;
}

.lista__hobbies {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 5% 0;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.titulo__conhecimentos {
  background-color: var(--cor-secundaria);
  text-align: center;
}

#conhecimentos {
  padding: 5% 0;
  background-color: var(--cor-secundaria);
}

.titulo__conhecimentos {
  padding: 0 0 3% 0;
  text-align: center;
  font-size: 36px;
}

.conhecimento__itens {
  display: flex;
  gap: 50px;
  padding: 0 12% 3% 12%;
  align-items: center;
  justify-content: space-around;
}

.imagem__edu {
  background-color: var(--cor-primaria);
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conhecimento__item {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.formacao {
  font-weight: 800;
  font-size: 25px;
  padding-top: 5%;
  padding-bottom: 2%;
}

#projetos {
  background-color: var(--cor-primaria);
}

#projetos h2 {
  padding-top: 5%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 30px;
}

.projetos_projetos {
  padding: 3% 0 6% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projeto__div {
  display: flex;
  padding: 2%;
  background-color: var(--cor-secundaria);
  margin-bottom: 50px;
}

.projeto__texto_direito {
  width: 450px;
  padding: 13% 0 0 3%;
  font-size: 20px;
}

.projeto__texto_esquerdo {
  width: 450px;
  padding: 13% 3% 0 0;
  font-size: 20px;
}

.projeto__front {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

button {
  width: 116px;
  height: 42px;
  font-family: inherit;
}

.btn_repositorio {
  width: 116px;
  height: 42px;
  margin: 20px;
  background-color: var(--cor-primaria);
  border-color: var(--cor-icons);
  border-width: 1px;
  color: var(--cor-icons);
  font-size: 16px;
}

.btn_demo {
  width: 116px;
  height: 42px;
  margin: 20px 0;
  background-color: var(--cor-icons);
  border-color: var(--cor-icons);
  color: var(--cor-primaria);
}

.btn_repositorio:hover {
  background-color: #c4c2c4;
  cursor: pointer;
}

.btn_demo:hover {
  background-color: #c4c2c4;
  cursor: pointer;
}

.rodape{
  text-align: center;
  padding: 15px 0 10px 0;
}

.rodape p{
  padding-top: 5px;
  font-weight: bold;
}